html
  head
    title= title
  body
   div=url
   div
    span still 
    span(id="time")
    span  seconds would redirect to add,
    span  , press 
    span  drafts if you want go to drafts
    a(href=draft_url) drafts

   script.
    var seconds = 3;
    var ts = setInterval(function(){
      seconds = seconds -1;
      document.querySelector('#time').innerText=seconds;
      if(seconds<1){
        clearInterval(ts);
        console.log('redirect');
        window.location =  "/act?url="+encodeURIComponent("!{url}");
      }
    },1000);
    